.about {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    height: 600px;
    margin-top: -20px;
    overflow: hidden;
    position: relative;
}

.box_about {
    height: 100%;
}

/* Slide-up animation for text */
@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.box_about .animate {
    animation: slideUp 0.5s ease forwards;
}

@media (min-width: 1111px) {
    .bio {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        right: -500px;
        transition: opacity 0.5s ease, right 0.5s ease;
    }
    .btn{
        cursor: pointer;
        right: 120px;
        transition: all 0.5s ease;
        animation: btn 1.5s infinite;
    }
    @keyframes btn {
        0%, 100%{
            transform: translateX(10px);
        }
        50%{
            transform: translateX(-15px);
        }
    }
    
    .btn.slide-left {
        right: 920px;
    }
    .btn.slide-right{
        right: 150px;
    }
    .bio.active {
        opacity: 1;
        visibility: visible;
        width: 700px;
        right: 200px;
    }

    .hidden-div {
        transition: transform 0.5s ease;
    }

    .hidden-div.slide-left {
        transform: translateX(-450px);
    }
}

.sec_section{
    width: 100%;
}

@media (max-width:1000px) {
    .about{
        height: 800px;
    }
}