.about {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    gap: 25%;
    grid-template-rows: auto;
    height: 600px;
    margin-top: -20px;
}

.box_about {
    background-color: #facc15;
    height: 100%;
}
