@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #27272A;
}

body.active {
  background-color: white;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: auto;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f87171, #facc15, #0ea5e9);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #f05555, #facc15, #0ea5e9);
}

/* Large screens */
@media (min-width: 1024px) {
  .app {
    grid-template-rows: 100px 1fr 100px;
  }
}

/* Medium screens */
@media (max-width: 1023px) and (min-width: 768px) {
  .app {
    grid-template-rows: 80px 1fr 80px;
  }

  header,
  footer {
    padding: 1.25rem;
  }
}

/* Small screens */
@media (max-width: 767px) {
  .app {
    grid-template-rows: 70px 1fr 70px;
  }

  header,
  footer {
    padding: 1rem;
  }
}

/* Extra-small screens */
@media (max-width: 420px) {

  .app,
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  
}

/* Extra-small screens */
@media (max-width: 380px) {

  .app,
  body {
    display: flex;
    flex-direction: column;
    width: 379px;
    height: auto;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding: 0;
  }

  header,
  footer {
    padding: 0.5rem;
    /* Reduced padding for smaller screens */
    text-align: center;
    /* Center text for better visibility */
  }

  .w-full {
    width: 95%;
    /* Adjust width to prevent overflow */
    padding: 1rem;
    /* Increased padding for better spacing */
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 1.5rem;
    /* Decrease font sizes for headings */
  }

  p {
    font-size: 0.875rem;
    /* Decrease font sizes for paragraphs */
  }

  .absolute {
    top: 20px;
    /* Adjust position of Colores component */
    right: 10px;
    /* Adjust position of Colores component */
  }
}